{% extends 'questionnaire/base.html' %}

{% block content %}
    <div class="veteran_info">
        <h1>САДОВОДЧЕСКОЕ НЕКОММЕРЧЕСКОЕ ТОВАРИЩЕСТВО "ВЕТЕРАН" г. КАЗАНЬ, пос. КАРЬЕР</h1>
        <h1>САДОВОДЧЕСКОЕ НЕКОММЕРЧЕСКОЕ ТОВАРИЩЕСТВО</h1>
        <h1>"ВЕТЕРАН" г. КАЗАНЬ, пос. КАРЬЕР</h1>
        <h1>сокращенное название СНТ "Ветеран"</h1>
        <h1>ИНН/КПП 1660025740/1676001001           ОГРН 1021603643379</h1>
        <h1>АДРЕС: 420153 г. Казань, Советский район, пос. Карьер, ул. Карьерная, 4, СНТ "Ветеран"</h1>

    </div>

    <p style="text-align: center; font-size: xx-large; text-decoration: underline;">Реквизиты для оплаты</p>
    <table id="table2">
      <tr>
        <th>Наименование поля расчетного документа</th>
        <th>Реквизиты</th>
      </tr>
      <tr>
        <td>"Банк получателя"</td>
        <td>Отделение № 8610 ПАО СБЕРБАНК г. КАЗАНЬ</td>
      </tr>
      <tr>
        <td>"БИК" Банка получателя</td>
        <td>049205603</td>
      </tr>
      <tr>
        <td>"Сч. №" Банка получателя</td>
        <td>30101810600000000603</td>
      </tr>
      <tr>
        <td>"Сч. № получателя</td>
        <td>40703810962000001224</td>
      </tr>
      <tr>
        <td>"Получатель"</td>
        <td>Садоводческое некоммерческое товарищество "Ветеран"</td>
      </tr>
      <tr>
        <td>"ИНН получателя"</td>
        <td>1660025740</td>
      </tr>
    </table>

{% endblock content %}
